.App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.BigButton {
  margin: 0 auto;
  font-size: 2rem;
  display: block;
  background: #00022e;
  border: 1px solid #02066f;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
}

@media screen and (min-width: 600px) {
  .BigButton {
    font-size: 3rem;
  }
}

pre {
  width: 100%;
  word-break: break-word;
}
